<div>
    <q-toolbar class="bg-primary text-white">    
      <q-avatar>
        <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg">
      </q-avatar>

      <q-toolbar-title>LinkSUS</q-toolbar-title>

      <q-space />   
      <q-btn-dropdown stretch flat icon="settings">
        <q-list>
          <q-item-label header>O que quer fazer?</q-item-label>
          <q-item clickable v-close-popup tabindex="0" href="/">            
            <q-item-section>
              <q-item-label >Linkage</q-item-label>              
            </q-item-section>
            <q-item-section side>
              <q-icon name="info" />
            </q-item-section>
          </q-item>   
          <q-item clickable v-close-popup tabindex="0" href="/config">            
            <q-item-section>
              <q-item-label >Conf. banco</q-item-label>              
            </q-item-section>
            <q-item-section side>
              <q-icon name="settings" />
            </q-item-section>
          </q-item>               
        </q-list>
      </q-btn-dropdown>

    </q-toolbar>
  </div>
  
  
  <div class="q-pa-md">
    <div class="row q-col-gutter-sm">
      <div class="col-3">

        <!-- Table of columns from b1 database -->
        <q-card flat bordered class="my-card">
          <q-card-section class="bg-primary text-white">
            <div class="row items-center no-wrap">              
                <div class="text-h5 text-white">{{dict_crz.b1}}</div>                         
            </div>
          </q-card-section>
          <q-card-section>
            <q-table
              title="Variáveis BD1"
              :data="col_b1_imp"
              :columns="col_def"
              row-key="id"
              dense
              :filter="col_b1_filter"
              :visible-columns="vis_cols"
            > 

              <template v-slot:top-right>                
                <q-input dense debounce="300" color="primary" v-model="col_b1_filter">
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>
              </template>

              <template v-slot:body-cell-inrel="props">
                <q-td :props="props">
                  <q-toggle
                    v-on:input="insert_new_row_rel(props)"                  
                    v-model="props.row.inrel"
                    checked-icon="check"
                    color="green"
                    unchecked-icon="clear"                    
                  />    
                </q-td>
              </template>
              
            </q-table>
          </q-card-section>
        </q-card>
                    
      </div>

      <div class="col-6">
        <!-- selection panel -->
        <q-card flat bordered class="my-card">
          <q-card-section>
            <div class="text-h5">Definição do relatório</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="q-gutter-md">
              <q-select filled v-model="selcrz" :options="list_crz" label="Cruzamento de dados" map-options emit-value
                option-label="nome" option-value="id">
                <template v-slot:after>
                  <q-btn dense round v-on:click="insert_new_rel()" color="primary" icon="add" />        
                </template>
              </q-select>              
              
              <q-select filled v-model="selrel" :options="list_rel" label="Relatório" map-options emit-value
                option-label="nome" option-value="id" >                   
                <template v-slot:after>
                  <q-btn :disable="selcrz == ''" dense round v-on:click="edit_def_rel()" color="primary" icon="edit" />     
                  <div class="col-auto">                
                    <q-btn :disable="selrel == ''" dense square v-on:click="add_pos_col()" color="primary" icon="add" label="Pós-processamento" class="btn-fixed-width" />
                  </div>   
                  <div class="col-auto">                
                    <q-btn :disable="selrel == ''" dense square v-on:click="add_avan_col()" color="primary" icon="add" label="Rel avançado" class="btn-fixed-width" />
                  </div>   
                </template>
              </q-select>

              <q-input
                disable
                v-show="selrel != ''"
                label="Descrição do relatório"
                v-model="obs_rel"
                filled
                type="textarea"
              />
            </div>

            <q-table
              title="Funções de pós-processamento do relatório"
              :data="data_pos"
              :columns="col_pos_def"
              row-key="id"
              dense
              :visible-columns="vis_cols_pos"
            >
              <template v-slot:body-cell-actions="props">
                <q-td :props="props">
                  <q-btn dense round flat color="grey" v-on:click="edit_pos_col(props)" icon="edit"></q-btn>
                  <q-btn dense round flat color="grey" v-on:click="del_pos_col(props)" icon="delete"></q-btn>
                </q-td>          
              </template>
            </q-table>
            
            <q-table
              title="Lista de relatórios avançados"
              :data="data_avan"
              :columns="col_avan_def"
              row-key="id"
              dense
              :visible-columns="vis_cols_avan"
            >
              <template v-slot:body-cell-actions="props">
                <q-td :props="props">
                  <q-btn dense round flat color="grey" v-on:click="edit_avan_col(props)" icon="edit"></q-btn>
                  <q-btn dense round flat color="grey" v-on:click="del_avan_col(props)" icon="delete"></q-btn>
                </q-td>          
              </template>
            </q-table>
          </q-card-section>
                 
          
        </q-card>

        <br>
       
        
        <!-- Report setup -->
        <q-card flat bordered class="my-card">

          <q-card-section class="bg-primary text-white">
            <div class="row items-center no-wrap">
              <div class="col">
                <div class="text-h5 text-white">Relatório</div>
              </div>              
            </div>
          </q-card-section>
          <q-card-section>
            <q-table
              title="Definição das colunas do relatório"
              :data="col_cz_imp"
              :columns="col_cz_def"
              row-key="id"
              :filter="col_cz_filter"
              dense
              :visible-columns="vis_cols_cz"
            > 
              <template v-slot:top-right>                
                <q-input dense debounce="300" color="primary" v-model="col_cz_filter">
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>
              </template>

              <template v-slot:body-cell-actions="props">
                <q-td :props="props">
                  <q-btn dense round flat color="grey" v-on:click="up_row_rel(props)" icon="arrow_upward"></q-btn>
                  <q-btn dense round flat color="grey" v-on:click="edit_row_rel(props)" icon="edit"></q-btn>
                  <q-btn dense round flat color="grey" v-on:click="del_row_rel(props)" icon="delete"></q-btn>
                  <q-btn dense round flat color="grey" v-on:click="down_row_rel(props)" icon="arrow_downward "></q-btn>
                </q-td>          
              </template>
            </q-table>
          </q-card-section>

        </q-card>

      </div>

      <div class="col-3">

        <!-- Table of columns from b2 database -->
        <q-card flat bordered class="my-card">
          <q-card-section class="bg-primary text-white">
            <div class="row items-center no-wrap">              
                <div class="text-h5 text-white">{{dict_crz.b2}}</div>                         
            </div>
          </q-card-section>
          <q-card-section>
            <q-table
              title="Variáveis BD2"
              :data="col_b2_imp"
              :columns="col_def"
              row-key="id"
              dense
              :filter="col_b2_filter"
              :visible-columns="vis_cols"
            > 

              <template v-slot:top-right>                
                <q-input dense debounce="300" color="primary" v-model="col_b2_filter">
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>
              </template>

              <template v-slot:body-cell-inrel="props">
                <q-td :props="props">
                  <q-toggle
                    v-on:input="insert_new_row_rel(props)"                  
                    v-model="props.row.inrel"
                    checked-icon="check"
                    color="green"
                    unchecked-icon="clear"                    
                  />    
                </q-td>
              </template>
              
            </q-table>
          </q-card-section>
        </q-card>
                    
      </div>

    </div>

    <!-- edit row (individual COL) -->
    <q-dialog v-model="show_cz">
      <q-card style="width: 600px; max-width: 60vw">
        <q-card-section>
          <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>       
          <div class="text-h6">Editar</div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <br>
          <q-form class="q-gutter-md">            
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Váriavel original</q-item-label>
                <q-input disable dense outlined v-model="cz_row.var_org" />
                
              </q-item-section>
            </q-item>
            
            <q-list>               
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Váriavel no relatório</q-item-label>
                  <q-input dense outlined v-model="cz_row.var_rel" />
                  
                </q-item-section>
              </q-item>                                
            </q-list>
          </q-form>
        </q-card-section>
        <q-card-section>
          <q-card-actions align="right">
            <q-btn
              flat
              label="Cancelar"
              color="red"
              dense
              v-close-popup
            ></q-btn>
            <q-btn
              flat
              label="Salvar"
              color="primary"
              dense
              v-close-popup
              v-on:click="save_row_bt=true"
            ></q-btn>
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- add/edit report -->
    <q-dialog v-model="show_rel">
      <q-card style="width: 600px; max-width: 60vw">
        <q-card-section>
          <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>       
          <div v-if="info_rel.id == 0" class="text-h6">Criar novo relatório</div>
          <div v-else class="text-h6">Editar relatório</div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <br>
          <q-form class="q-gutter-md">            
            <q-item>
              <q-item-section>
                <q-item-label class="q-pb-xs">Nome do relatório</q-item-label>
                <q-input dense outlined v-model="info_rel.nome" />
                
              </q-item-section>
            </q-item>
            
            <q-list>               
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Descrição do relatório</q-item-label>
                  <q-input dense outlined v-model="info_rel.obs" type="textarea" />              
                </q-item-section>
              </q-item>                                
            </q-list>
          </q-form>
        </q-card-section>
        <q-card-section>
          <q-card-actions align="right">
            <q-btn
              flat
              label="Cancelar"
              color="red"
              dense
              v-close-popup
            ></q-btn>
            <q-btn
              flat
              label="Salvar"
              color="primary"
              dense
              v-close-popup
              v-on:click="save_rel_bt=true"
            ></q-btn>
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- add/edit itens pos-processing COL -->
    <q-dialog v-model="show_pos">
      <q-card style="width: 600px; max-width: 60vw">
        <q-card-section>
          <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          <div v-if="pos_edit_row.id == 0" class="text-h6">Criar linha</div>
          <div v-else class="text-h6">Editar linha</div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-form class="q-gutter-md">
            <br>
            <q-banner inline-actions rounded class="bg-orange text-white">
              A função será executada quando o relatório for gerado.
            </q-banner>

            <q-list>               
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Função</q-item-label>
                  <q-input dense outlined v-model="pos_edit_row.function" />
                  
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Descrição</q-item-label>
                  <q-input type="textarea" dense outlined v-model="pos_edit_row.definition" />
                </q-item-section>
              </q-item>                         
            </q-list>

          </q-form>
        </q-card-section>
        <q-card-section>
          <q-card-actions align="right">
            <q-btn
              flat
              label="Cancelar"
              color="red"
              dense
              v-close-popup
            ></q-btn>
            <q-btn
              flat
              label="Salvar"
              color="primary"
              dense
              v-close-popup
              v-on:click="pos_edit_bt=true"
            ></q-btn>
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog> 

    <!-- add/edit itens advanced reports COL -->
    <q-dialog v-model="show_avan">
      <q-card style="width: 600px; max-width: 60vw">
        <q-card-section>
          <q-btn round flat dense icon="close" class="float-right" color="grey-8" v-close-popup></q-btn>
          <div v-if="avan_edit_row.id == 0" class="text-h6">Criar linha</div>
          <div v-else class="text-h6">Editar linha</div>
        </q-card-section>
        <q-separator inset></q-separator>
        <q-card-section class="q-pt-none">
          <q-form class="q-gutter-md">
            <br>
            <q-banner inline-actions rounded class="bg-orange text-white">
              A função será executada após o cruzamento de dados ser efetuado.
            </q-banner>

            <q-list>        
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Nome</q-item-label>
                  <q-input dense outlined v-model="avan_edit_row.nome" />                  
                </q-item-section>
              </q-item>       
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Função</q-item-label>
                  <q-input dense outlined v-model="avan_edit_row.function" />                  
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label class="q-pb-xs">Descrição</q-item-label>
                  <q-input type="textarea" dense outlined v-model="avan_edit_row.definition" />
                </q-item-section>
              </q-item>                         
            </q-list>

          </q-form>
        </q-card-section>
        <q-card-section>
          <q-card-actions align="right">
            <q-btn
              flat
              label="Cancelar"
              color="red"
              dense
              v-close-popup
            ></q-btn>
            <q-btn
              flat
              label="Salvar"
              color="primary"
              dense
              v-close-popup
              v-on:click="avan_edit_bt=true"
            ></q-btn>
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog> 

    
  </div>
